.vs
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
Example
ExportedObj
*.svd
*.userprefs
*.pidb
*.unityproj
*.booproj
*.csproj
*.sln
*.user
*.suo
*.tmp
.DS_Store
.DS_Store?
._*
.Splotlight-V100
.Trashes
ehthumbs.db
Thumbs.db